@media (min-width: 360px) {
  .h-100vh{
    height: 28vh;
    margin-top: 3.21rem;
  }
}
  @media (min-width: 768px) {
    .h-100vh{
      height: 41vh;
      margin-top: 0;
    }
  }
  @media (min-width: 1026px) {
    .h-100vh{
      height: 100vh;
      margin-top: 0;
    }
  }
